* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #222;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color: #fff;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	text-shadow: rgb(0,0,0) 0px 0px 0.2em;
	-webkit-text-stroke: 1px transparent;
}
a {
	text-decoration: none;
	color: lightgreen;
	font-weight: bold;
}
ul {
	list-style-type: none;
}
.board {
	margin: 30px 20px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}